Project location: <input type="text" id="projdir" value="../../">
<br>
X10 location: <input type="text" id="x10dir" value="../../x10/bin/x10">
<br>
Benchmark location: <input type="text" id="benchdir" value="./exclude/benchmark">
<br>
Test cases: <input type="number" id="cases" value="50">
<br>
Intervals: <input type="number" id="intervals" value="100">
<br>
<input type="button" value="Generate scripts" onclick="generateScript();">
<br>
<br>
Script to run all benchmarks:
<br>
<textarea id="result" style="width:600px; height: 100px;"></textarea>
<br>
<br>
Script to run generate test sequence data:
<br>
<textarea id="datagen" style="width:600px; height: 100px;"></textarea>
<br>
<br>
Script to run correctness checks:
<br>
<textarea id="correctgen" style="width:600px; height: 100px;"></textarea>
<script>
var sets = 0;
var benchdir = "";
var x10dir = "";
var projdir = "";
var interval = 0;

function generateScript() {
	benchdir = document.getElementById("benchdir").value;
	projdir = document.getElementById("projdir").value;
	x10dir = document.getElementById("x10dir").value;
	sets = document.getElementById("cases").value;
	interval = document.getElementById("intervals").value;
	
	correctscript();
	datascript();
	benchscript();
}

// Correctness checking
function correctscript() {
	var resultobj = document.getElementById("correctgen");
	var result = "";
	result += "echo \"\" > benchcheck.txt\n";
	for (var i = 1; i <= sets; i++) {
		/*var n = "";
		if (i < 10) {
			n += "0";
		}
		n += i;
		n += "00";*/
		var n = i * interval;
		var file1 = "seq" + n + "-1.txt";
		var file2 = "seq" + n + "-2.txt";
		var out4 = "out" + n + "-parallel-4.txt";
		var out3 = "out" + n + "-parallel-3.txt";
		var out2 = "out" + n + "-parallel-2.txt";
		var out1 = "out" + n + "-seq.txt";
		var resultfile = "out" + n + "-result.txt";
		result += "java -jar jaligner.jar \"" + file1 + "\" \"" + file2 + "\" \"BLOSUM62\" 10 5 > \"" + resultfile + "\" \n";
		result += "php benchcheckequal.php \"" + out1 + "\" \"" + resultfile + "\" >> benchcheck.txt \n";
	}
	resultobj.value = result;
}

// Data generator
function datascript() {
	var resultobj = document.getElementById("datagen");
	var result = "";
	for (var i = 1; i <= sets; i++) {
		/*var n = "";
		if (i < 10) {
			n += "0";
		}
		n += i;
		n += "00";*/
		var n = i * interval;
		result += "php benchsequencegenerator.php " + n + " > \"seq" + n + "-1.txt \n";
		result += "php benchsequencegenerator.php " + n + " > \"seq" + n + "-2.txt \n";
	}
	resultobj.value = result;
}

// Benchmark script
function benchscript() {
	var resultobj = document.getElementById("result");
	var result = "";

	result += "cd ../../\n";
	result += "set benchdir=\"" + benchdir + "\"\n";

	result += "set X10_NTHREADS=4\n";
	//result += "set X10_NPLACES=4\n";
	for (var i = 1; i <= sets; i++) {
		//var n = "";
		/*if (i < 10) {
			n += "0";
		}*/
		//n += i;
		//n += "00";
		var n = i * interval;
		
		var setname = "seq" + n;
		var outname = "out" + n;
		
		var command = "bash " + x10dir + " Project \"%benchdir%/"+setname+"-1.txt\" \"%benchdir%/"+setname+"-2.txt\" \"BLOSUM62\" 10 5 > \"%benchdir%/" + outname + "-parallel-4.txt\"";
		result += command + "\n";
	}

	result += "\n";
	result += "set X10_NTHREADS=3\n";
	result += "set X10_NPLACES=3\n";
	for (var i = 1; i <= sets; i++) {
		//var n = "";
		/*if (i < 10) {
			n += "0";
		}*/
		//n += i;
		//n += "00";
		var n = i * interval;
		
		var setname = "seq" + n;
		var outname = "out" + n;
		
		var command = "bash ../../x10/bin/x10 Project \"%benchdir%/"+setname+"-1.txt\" \"%benchdir%/"+setname+"-2.txt\" \"BLOSUM62\" 10 5 > \"%benchdir%/" + outname + "-parallel-3.txt\"";
		result += command + "\n";
	}

	result += "\n";
	result += "set X10_NTHREADS=2\n";
	result += "set X10_NPLACES=2\n";
	for (var i = 1; i <= sets; i++) {
		//var n = "";
		/*if (i < 10) {
			n += "0";
		}*/
		//n += i;
		//n += "00";
		var n = i * interval;
		
		var setname = "seq" + n;
		var outname = "out" + n;
		
		var command = "bash ../../x10/bin/x10 Project \"%benchdir%/"+setname+"-1.txt\" \"%benchdir%/"+setname+"-2.txt\" \"BLOSUM62\" 10 5 > \"%benchdir%/" + outname + "-parallel-2.txt\"";
		result += command + "\n";
	}

	result += "\n";
	for (var i = 1; i <= sets; i++) {
		//var n = "";
		/*if (i < 10) {
			n += "0";
		}*/
		//n += i;
		//n += "00";
		var n = i * interval;
		
		var setname = "seq" + n;
		var outname = "out" + n;
		
		var command = "bash ../../x10/bin/x10 Project \"%benchdir%/"+setname+"-1.txt\" \"%benchdir%/"+setname+"-2.txt\" \"BLOSUM62\" 10 5 -seq > \"%benchdir%/" + outname + "-seq.txt\"";
		result += command + "\n";
	}

	resultobj.value = result;
}
</script>