<textarea id="result" style="width: 600px; height: 200px"></textarea>
<br>
<input type="number" value="100" id="seqlength"> <input type="button" value="Generate" onclick="javascript:generate();">
<script>
function generate() {
	var length = document.getElementById("seqlength").value;
	var result = ">random" + length + "\n";
	var dictionary = "ACGT";
	for (var i = 0; i < length; i++) {
		if (i > 0 && i % 70 == 0) { // Break every 70 alphabets
			result += "\n";
		}
		var randomInt = Math.floor((Math.random() * 4));
		result += dictionary[randomInt];
	}
	var resultObj = document.getElementById("result");
	resultObj.value = result;
}
</script>