Our project output:<br>
<textarea id="projinput" style="width:600px; height: 100px"></textarea>
<br>
<br>
JAligner output:<br>
<textarea id="jaligninput" style="width:600px; height: 100px"></textarea>
<br>
<input type="button" value="Compare" onclick="javascript:startCompare();">
<select id="comparetype">
	<option value="fasta">FASTA</option>
	<option value="pair">PAIR</option>
</select>
<br>
<div id="seq1" style="overflow:auto; height: 70px;"></div>
<div id="seq2" style="overflow:auto; height: 70px;"></div>

<script>
function startCompare() {
	var result1 = document.getElementById("projinput").value;
	var result2 = document.getElementById("jaligninput").value;
	var mode = document.getElementById("comparetype").value;
	
	if (compareResults(result1,result2,mode)) {
		alert("Match");
	} else {
		alert("Do not match");
	}
}

function compareResults(result1, result2,mode) {
	var res1 = getProjectSequences(result1);
	var res2 = "";
	if (mode == "pair") {
		res2 = getJalignerPairSequence(result2);
	} else {
		res2 = getJalignerSequences(result2);
	}
	document.getElementById("seq1").innerHTML = "<pre>" + res1[0] + "<br>" + res2[0] + "</pre>";
	document.getElementById("seq2").innerHTML = "<pre>" + res1[1] + "<br>" + res2[1] + "</pre>";
	
	return (res1[0] == res2[0] && res1[1] == res2[1]);
}

function getProjectSequences(data) {
	if (data == "") {
		return ["",""];
	}
	var parts = data.split("\n");
	var sequence1 = parts[8].substring(3);
	var sequence2 = parts[9].substring(3);
	return [sequence1,sequence2];
}

// Read PAIR format
function getJalignerPairSequence(data) {
	var parts = data.split("\n");
	var i = 13;
	var sequence1 = "";
	var sequence2 = "";
	while (i < parts.length) {
		var line = parts[i++];
		// Sequence 1
		line = line.replace(/(\s+)/g, " ");
		if (line == "" || line == null) {
			continue;
		}
		var lineparts = line.split(" ");
		sequence1 += lineparts[2];
		
		i++; // Skip 1 line
		// Sequence 2
		line = parts[i++];
		line = line.replace(/(\s+)/g, " ");
		if (line == "" || line == null) {
			continue;
		}
		lineparts = line.split(" ");
		sequence2 += lineparts[2];
		i++; // Skip 1 line
	}
	return [sequence1,sequence2];
}

// Read FASTA format
function getJalignerSequences(data) {
	var parts = data.split("\n");
	var i = 14;
	var sequence1 = "";
	var sequence2 = "";
	// Read first part
	while (i < parts.length) {
		var line = parts[i++];
		if (line.substring(0,1) == ">") { // Encounter second sequence
			break;
		}
		sequence1 += line;
	}
	
	// Get remaining part
	for (var j = i; j < parts.length; j++) {
		sequence2 += parts[j];
	}
	return [sequence1,sequence2];
}
</script>